.box {
    background-color: aquamarine;
}
.bali {
    background-color: gray;
    height: 676px;
}
.dubai {
    background-color: rgb(207, 47, 47);
    height: 328px;
}
.paris {
    background-color: aqua;
    height: 320px;

}
.italy {
    background-color: aquamarine;
    height: 320px;

}